<p style="color: green"><%= notice %></p>
<div class="container">
  <%= render @countdown %>
</div>
  <div>
    <ul>
      <li><%= link_to "Edit this countdown", edit_countdown_path(@countdown), class: "link-style" %></li>
      <li><%= link_to "See all your countdowns", countdowns_path, class: "link-style" %></li>
    </ul>
    <h2><%= button_to "Delete this countdown", @countdown, method: :delete, class: "button-style"  %></h2>
  </div>
